* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}

.left {
    width: 500px;
    height: 600px;
    background-image: url("halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 500px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    gap: 400px;
}

a {
    color: white;
}

.logo {
    background-color: rgb(0 0 0 / 45%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.logo img {
    width: 25%;
}

.right {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfdfdf;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 50px 25px 15px 15px;
    font-weight: 800;
}

.text span {
    font-style: italic;
}

.form {
    background-color: #eeeeee;
}

.form-row {
    display: flex;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.create {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #596d48;
    color: white;
    font-size: 18px;
}

.create span {
    color: #596d48;
    font-weight: 800;
}