* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Norse";
    src: url("fonts/Norse-Bold.woff") format("woff")
        url("fonts/Norse-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    /*Credits to Joël Carrouché aka. JCfonts*/
}

body {
    display: flex;
}

.left {
    width: 35%;
    height: 600px;
    background-image: url("img/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: 500px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    gap: 400px;
}

a {
    color: white;
}

.logo {
    background-color: rgb(0 0 0 / 45%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

.logo img {
    width: 25%;
}

.right {
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ededed;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 100px 25px 15px 15px;
    font-weight: 800;
}

.text span {
    font-style: italic;
}

.form {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 32px 32px;
    margin: 32px 0;
}

.form-row {
    display: flex;
    gap: 64px;
    margin-top: 16px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

.create {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #596d48;
    color: white;
    font-size: 18px;
}

.create span {
    color: #596d48;
    font-weight: 800;
}